
#content {
    min-height: 100vh;
}
.btn-primary {
    background-color: palevioletred;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:visited{
    background-color: purple;
}
.loading{
    margin-top: 150px;
    margin-bottom: 100px;
   
}
.or {
    position: relative;
    text-align: center;
    margin: 1rem 0;
}
.or::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: calc(50% - 1px);
    background-color:var(--dark-brown);
    left: 0;
    z-index: 0;
}
.or span {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--dark-brown);
    color: white;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    position: relative;
    z-index: 1;
}
#logo {
    display:block;
    width: auto;
    height: 120px;
}
#welcome {
    display:none;
    text-align: center;
}
#welcome p {
    margin: 0;
}
#welcome h2 {
    background-color: var(--dark-brown);
    color: var(--middle-brown);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

@media only screen and (min-width: 786px) {
    #logo {
        width: 75%;
        height: auto;
    }
}
#form-login {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#form-login  form {
    padding: 1.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    background: #f8f9fa!important;
}